/* GLOBAL */

@font-face {
    font-family: "Sansation Light";
    src: url("fonts/sansation_light-webfont.ttf") format("truetype");
}

/* HEADER */


/* BODY */

section {
    font-family: 
    background: #eee;
    margin-top: 5%;
    border-top: solid 0.1% #ddd;
    height: 95%;
    
    /* http://www.colorzilla.com/gradient-editor/ */
    background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249,249,249,1) 0%, rgba(199,222,229,1) 54%, rgba(249,249,249,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(54%,rgba(199,222,229,1)), color-stop(99%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(249,249,249,1) 0%,rgba(199,222,229,1) 54%,rgba(249,249,249,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(249,249,249,1) 0%,rgba(199,222,229,1) 54%,rgba(249,249,249,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(249,249,249,1) 0%,rgba(199,222,229,1) 54%,rgba(249,249,249,1) 99%); /* IE10+ */
    background: linear-gradient(135deg, rgba(249,249,249,1) 0%,rgba(199,222,229,1) 54%,rgba(249,249,249,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#left-column {
    padding: 3%;
    float: left;
    width: 17%;
    border-right: solid 0.1% #fff;
    height: 88.6%;
    color: #aaa;
    text-align: right;
}

#right-column {
    padding: 1% 3% 3% 3%;
    float: right;
    width: 70%;
    font-size: large;
    line-height: 1.7em;
    font-family: notosans;
}

a.link {
    text-decoration: none;
    color: rgb(134,193,64);
}

#right-column h1 {
    font-size: 1.5em;
    font-family: sansation;
}

#right-column .paragraph {
    margin-bottom: 3%;
}

/* FOOTER */

/*
    the selector '#footer a' doesn't work so we have to
    use a class to address these elements    
*/
a.footer {
    text-decoration: none;
    color: #aaa;
}

footer {
    background-color: #eee;
    clear: both;
    position: absolute;
    left: 0;
    top: 95%;
    width: 100%;
    text-align: center;

    /*
    display: table-cell;
    padding-top: 50%;
    padding-bottom: 50%;
    */
    
    /* set the height to the free space height which is left from the above columns */
    height: 1.5em;
    /*font-size: 1em;*/
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

#footer {
    background-color: #eee;
    text-align: center;
    
    /* set the height to the free space height which is left from the above columns */
    height: 3em;
    /*font-size: 1em;*/
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    
    padding: 1%;
    background-color: black;
    color: #aaa;
}

/* #footer img doesn't work, we have to use a direct ID */
.footer-img {
    max-height: 2em;
    /*
    float: left;
    background: url('slopmon.png') repeat-x;
    background-size: 1em;
    */
}

#footer table {
    /*  text-align: center;*/
    border: solid 0px black;
    width: 100%;
}

#footer td {
    width: 33%;
}

a.website-link {
    font-size: 3em;
    color: #191919 !important;
    font-family: sansation;
    font-weight: bold;
}